# init.recovery.microtrust.rc
# by The_A32-team@cuoxianxu
# Merged from official Microtrust / Beanpod / Gatekeeper / THH init rc

on fs
    chmod 0660 /dev/teei_client
    chown system system /dev/teei_client

    chmod 0660 /dev/teei_config
    chown system system /dev/teei_config

    chmod 0666 /dev/isee_tee0
    chown system drmrpc /dev/isee_tee0

    chmod 0660 /dev/tz_vfs
    chown system system /dev/tz_vfs

    chmod 0660 /dev/teei_fp
    chown system system /dev/teei_fp

    chmod 0660 /dev/ut_keymaster
    chown system drmrpc /dev/ut_keymaster

    chmod 0660 /dev/rpmb0
    chown system system /dev/rpmb0

    chmod 0660 /dev/mmcblk0rpmb
    chown root system /dev/mmcblk0rpmb

    chmod 0660 /dev/emmcrpmb0
    chown system system /dev/emmcrpmb0

    chmod 0660 /dev/utr_tui
    chown system system /dev/utr_tui

    start teei_daemon

on post-fs
    mkdir /mnt/vendor/persist 0771 system system
    mkdir /mnt/vendor/persist/rpmb 0771 system system
    restorecon_recursive /mnt/vendor/persist

    mkdir /persist/rpmb 0771 system system
    mkdir /vendor/persist/rpmb 0771 system system
    restorecon_recursive /persist
    restorecon_recursive /vendor/persist

on post-fs-data
    mkdir /data/vendor/thh 0755 system system
    mkdir /data/vendor/thh/system 0755 system system
    mkdir /data/vendor/thh/tee_00 0755 system system
    mkdir /data/vendor/thh/tee_01 0755 system system
    mkdir /data/vendor/thh/tee_02 0755 system system
    mkdir /data/vendor/thh/tee_03 0755 system system
    mkdir /data/vendor/thh/tee_04 0755 system system
    mkdir /data/vendor/thh/tee_05 0755 system system
    mkdir /data/vendor/thh/tee_06 0755 system system
    mkdir /data/vendor/thh/tee_07 0755 system system
    mkdir /data/vendor/thh/tee_08 0755 system system
    mkdir /data/vendor/thh/tee_09 0755 system system
    mkdir /data/vendor/thh/tee_0A 0755 system system
    mkdir /data/vendor/thh/tee_0B 0755 system system
    mkdir /data/vendor/thh/tee_0C 0755 system system
    mkdir /data/vendor/thh/tee_0D 0755 system system
    mkdir /data/vendor/thh/tee_0E 0755 system system
    mkdir /data/vendor/thh/tee_0F 0755 system system
    mkdir /data/vendor/thh/tee 0755 system system
    mkdir /data/vendor/thh/tee/tas 0755 system system
    mkdir /data/vendor/thh/ta 0755 system system
    mkdir /data/vendor/thh/tee_log 0755 system system
    mkdir /data/vendor/key_provisioning 0771 system system
    restorecon_recursive /data/vendor/thh

    start init_thh_service
    start beanpod_check_keybox_service
    start thh-2-0
    start vendor.keymaster-4-1-beanpod
    start vendor.gatekeeper-1-0
    start keymaster_attestation-1-1

on property:hwservicemanager.ready=true
    start thh-2-0
    start vendor.keymaster-4-1-beanpod
    start vendor.gatekeeper-1-0
    start keymaster_attestation-1-1

service teei_daemon /vendor/bin/teei_daemon \
    -r 020b0000000000000000000000000000 \
    -r 020f0000000000000000000000000000 \
    -r 06090000000000000000000000000000 \
    -r 05120000000000000000000000000000 \
    -r 40188311faf343488db888ad39496f9a \
    -r 07060000000000000000000000007169 \
    -r 4be4f7dc1f2c11e5b5f7727283247c7f \
    -r 9073f03a9618383bb1856eb3f990babd \
    -r 08050000000000000000000000003419 \
    -r 5020170115e016302017012521300000 \
    -r 0f5eed3c3b5a47afacca69a84bf0efad \
    -r 07407000000000000000000000000000 \
    -r 05160000000000000000000000000000 \
    -r 91dba524a6e24909acc48abd7163121a \
    -r 08070000000000000000000000008270 \
    -r 09080000000000000000000000009381 \
    -t 08030000000000000000000000000000 \
    -t 85f630e0f0964c5fa2cc268ce04e3da3 \
    -t 98fb95bcb4bf42d26473eae48690d7ea \
    -t 7b66512021214487ba710a51d7ea78fe \
    -t 09010000000000000000000000000000
    class core
    user system
    group system drmrpc
    disabled

service init_thh_service /vendor/bin/init_thh startload
    class late_start
    user system
    group system
    disabled
    oneshot

service beanpod_check_keybox_service /vendor/bin/bp_kmsetkey_ca -c
    class late_start
    user system
    group system
    disabled
    oneshot

service thh-2-0 /vendor/bin/hw/vendor.microtrust.hardware.thh@2.0-service
    class late_start
    user system
    group system
    disabled

service vendor.keymaster-4-1-beanpod /vendor/bin/hw/android.hardware.keymaster@4.1-service.beanpod
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    class early_hal
    user system
    group system drmrpc
    disabled

service vendor.gatekeeper-1-0 /vendor/bin/hw/android.hardware.gatekeeper@1.0-service
    interface android.hardware.gatekeeper@1.0::IGatekeeper default
    class hal
    user system
    group system
    disabled

service keymaster_attestation-1-1 /vendor/bin/hw/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    class hal
    user system
    group system
    disabled